@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400&display=swap");

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #F6F7FB;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 48px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 4px #ccc;
    background-color: #fff;
    justify-content: space-between;
}

#navbar {
    display: flex;
    align-items: center;
}

nav {
    margin-left: 40px;
}

#logo-wrapper {
    display: flex;
    align-items: center;
}

#logo-wrapper img {
    width: 24px;
    height: 28px;
    margin-right: 8px;
}

#logo-wrapper p {
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 500;
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
}

.topbar-menu {
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    padding: 14px 0 16px;
    font-size: 14px;
    font-weight: 450;
    letter-spacing: 0.6px;
    margin: 0 10px;
    border-bottom: 3px solid transparent;
    margin-top: 12px;
    padding-bottom: 17px;
}


/* Login container */


#main-container{
    margin-top: 100px;
}

#login-container {
    margin-top: 200px;
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    border-radius: 6px;
    margin: 0 auto;
    padding: 32px;
    box-sizing: border-box;
    box-shadow: 0 0 6px #ccc;

}

#login-container form {
    display: flex;
    flex-direction: column;
}

#login-container h1{
        letter-spacing: 1px;
        font-weight: 500;
        margin: 0 0 24px;
}

.login-input{
      width: 100%;
      padding-top: 16px;
      font-size: 14px;
      box-sizing: border-box;
      border: 0;
      border-bottom: 2px solid #8c8c8c;
      margin-bottom: 16px;
      outline: none;
}


.login-btn{
        display: inline-block;
        border-radius: 30px;
        padding: 14px 36px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        background-color: #20b883;
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        margin-top: 24px;
}